@layer components {
  mo-upload {
    cursor: pointer;
    width: 100%;

    &[data-drag] {
      border-color: var(--ring);
      box-shadow: 0 0 0 2px color-mix(in srgb, var(--ring) 20%, transparent);
    }

    .badge {
      text-overflow: ellipsis;
      max-width: 20ch;
      overflow: hidden;
      display: inline-block;
    }
  }
}
